/*  General CSS*/
body{
	background-image:linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
}
h1, h2, h3, h4, h5 ,h6{
    color: #6d6d6d;
    font-family: "raleway-regular", arial;
    letter-spacing: 1px;
}

h1              { font-size: 2em;}
h2              { font-size: 1.5em;}
h3              { font-size: 1.17em;}
h5              { font-size: .83em;}
h6              { font-size: .75em;}
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}

.wrapper{
    width: 800px;
    margin: 0 auto;
}

.billboard{
    width: 100%;
    height: 650px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
}


.billboard .details{
    display: block;
    width: 800px;
    height: auto;
    float: right;
    margin-top: 40px;
    position: relative;
}

.billboard .details h1{
    color: #595959;
    font-family: "raleway-regular", arial;
    font-size: 50px;
    margin-bottom: 40px;
    line-height: 60px;
}

.billboard .details p{
    color: #747272;
    font-family: "raleway-regular", airl;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}

.billboard .download_btn .ios_btn{
    display: inline-block;
    width: 170px;
    height: 62px;
}
.billboard .download_btn .ios_btn_en{
    display: inline-block;
    width: 170px;
    height: 56px;
}

.billboard .details .logo{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right:10px;
}

.billboard .download_btn .ios_btn .download_btn_img{
	border-radius: 10px;
}

footer{
    width: 100%;
}

footer .copyrights{
    text-align: center;

    font-size: 13px;
    font-family: 'raleway-regular', arial;
    color: #a6a6a6;
    letter-spacing: .5px;
}

footer .sm{
    text-align: center;
    margin-top: 25px;
}

.bold{
    font-family: 'raleway-bold', arial;
    font-weight: bold;
}

.content{
    width: 800px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.content p {
    color: #747272;
    font-family: "raleway-regular", airl;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 60px;
    text-align: left;
}
